body{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer{
    height: 50%;
    width: 50%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    height: 50%;
    width: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    padding: 2px;
    color: black;
    background-color: antiquewhite;
}